version: '3'

services:
  proxy:
    image: nginx:latest
    container_name: proxy
    restart: unless-stopped
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf
      - ./proxy/sites-enabled:/etc/nginx/sites-enabled
      - ./proxy/sites.template.${SITES_TEMPLATE:-docker}:/etc/nginx/sites-available/sites.template
      - ./proxy/default/html:/var/www/html
      - ./proxy/log/nginx:/var/log/nginx
      - ./proxy/letsencrypt/:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    environment:
      - NGINX_HOSTNAME=${HOST_NAME:-xlab.blindside-dev.com}
    depends_on:
      - greenlight
      - keycloak
    command: /bin/bash -c "envsubst '$$NGINX_HOSTNAME' < /etc/nginx/sites-available/sites.template > /etc/nginx/sites-enabled/sites.conf && exec nginx -g 'daemon off;'"
    logging:
      driver: journald

  postgres:
    image: postgres:11.5
    container_name: postgres
    restart: unless-stopped
    ports:
      - 5432:5432
    volumes:
      - ./postgres/11/database_data:/var/lib/postgresql/data
    environment:
      - PGUSER=postgres
      - PGPASSWORD=password
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_HOST_AUTH_METHOD=trust
    logging:
      driver: journald

  greenlight:
    entrypoint: [bin/start]
    image: ${DOCKER_REPO:-bigbluebutton}/greenlight:${DOCKER_TAG:-latest}
    container_name: greenlight
    restart: unless-stopped
    ports:
      - 127.0.0.1:3500:80
    expose:
      - "80"
    links:
      - postgres
    volumes:
      - greenlight:/usr/src/app
    logging:
      driver: journald
    env_file: ./greenlight/.env
    environment:
      - DOMAINNAME=${DOMAIN_SUB:-xlab}.${DOMAIN_ROOT:-blindside-dev.com}
      - DATABASE_URL=postgresql://postgres:password@postgres:5432/gl_dev_rna1
      - DB_ADAPTER=postgresql
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=gl_dev_rna1
      - DB_USERNAME=postgres
      - DB_PASSWORD=password
      - GL_CALLBACK_URL=https://gl.${DOMAIN_SUB:-xlab}.${DOMAIN_ROOT:-blindside-dev.com}
      - GREENLIGHT_SESSION_DOMAIN=${DOMAIN_ROOT:-blindside-dev.com}
      - URL_HOST=gl.${DOMAIN_SUB:-xlab}.${DOMAIN_ROOT:-blindside-dev.com}
  keycloak:
    image: jboss/keycloak:latest
    container_name: keycloak
    restart: unless-stopped
    volumes:
      - ./proxy/letsencrypt/live/kc.bill.blindside-dev.com/cert.pem:/etc/x509/https/tls.crt
      - ./proxy/letsencrypt/live/kc.bill.blindside-dev.com/privkey.pem:/etc/x509/https/tls.key
    environment:
      - PROXY_ADDRESS_FORWARDING=true
      - DB_VENDOR=postgres
      - DB_ADDR=postgres
      - DB_DATABASE=postgres
      - DB_USER=postgres
      - DB_SCHEMA=public
      - DB_PASSWORD=password
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=Password!
    ports:
      - 9990:8080
      - 9991:8443
    depends_on:
      - postgres
volumes:
  postgres_data:
    driver: local
  greenlight:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: './greenlight/app'